<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>smis assesment module</title>
</head>
<body>
    <header><h1>SMIS ASSESSMENT MODULE</h1></header>
    <main>
        <form action="">
            <div>
                <lable>First name</lable>
                <lable>last name</lable>
                <lable>Registration Number</lable>
                <label>Program</label>
                <label>Class</label>
                <label>Gender</label>
                
            </div>
            <div>
                <input type="text" name="first_name">
                <input type="text" name="last_name">
                <input type="text" name="reg_no">
                <select name="" id=""></select>
                <select name="" id=""></select>
                <select name="" id=""></select>

            </div>
            
        </form>
        <table>
            <tr>
                <th>Reg No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Program</th>
                <th>Class</th>
            </tr>
        </table>
    </main>
    
</body>
</html>